[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ignatov2
[access "refs/for/refs/*"]
	read = group user/ignatov2
	push = group user/ignatov2
	label-Code-Review = -2..+2 group user/ignatov2
	label-Verified = -1..+1 group user/ignatov2
	rebase = group user/ignatov2
	removeReviewer = group user/ignatov2
	submit = group user/ignatov2
[access "refs/heads/*"]
	read = group user/ignatov2
	create = group user/ignatov2
	push = +force group user/ignatov2
	pushMerge = group user/ignatov2
[access "refs/tags/*"]
	push = group user/ignatov2
	push = +force group user/ignatov2
